* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DynaPuff', sans-serif;
}

body {
  background: white;
  color: #333;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #6f4caf;
  color: white;
}

main {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 20px;
  border-radius: 8px;
}

section {
  margin-bottom: 30px;
}

section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #7a4caf;
}

form div {
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
button{
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #9b9999;
  border-radius: 5px;
}

button {
  background-color: #7c21f3;
  font-size: medium;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #9e19d2;
  transform: translateY(-3px);
  box-shadow: 0 9px 14px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"] {
  transform: scale(1.2);
}

.checkbox {
  display: flex;
  gap: 10px;
}

[data-testid="bookForm"] {
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.61);
}

[data-testid="bookItem"] {
  margin-bottom: 15px;
  padding: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.61);
}

@media screen and (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}